.error-page {
  background-image: url('../../img/choko-bg.png');
  height: calc(100vh - 350px);
  min-height: 715px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  @include response-to(small) {
    min-height: 515px;
  }

  & * {
    position: relative;
    z-index: 1;
  }

  .error {

    &-img {

      @include response-to(small) {
        width: 260px;
        height: auto;
      }
    }

    &-decor {
      position: absolute;
      z-index: 0;
      left: 47%;
      top: 38%;
      transform: translate(-50%, -50%);

      @include response-to(small) {
        display: none;
      }
    }

    &-text {
      margin-top: 82px;
      font-size: 31px;
      line-height: 35px;
      text-align: center;
      text-transform: uppercase;
      font-weight: 500;
      background: -webkit-linear-gradient(180deg, #FFFFFF, #FFE686, #F7B545);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: 21px;

      & br {
        display: none;

        @include response-to(small) {
          display: block;
        }
      }

      @include response-to(small) {
        margin-top: 23px;
        color: #FFE686;
        background: unset;
        line-height: 27px;
        font-size: 24px;
        -webkit-text-fill-color: unset;
      }
    }

    &-note {
      background: -webkit-linear-gradient(180deg, #FFFFFF, #FFE686, #F7B545);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 20px;
      font-weight: 500;
      text-align: center;

      & br {
        display: none;

        @include response-to(small) {
          display: block;
        }
      }
    }
  }

  .btn {
    border: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 290px;
    width: 100%;
    height: 56px;
    margin: 0 auto;
    padding: 17px 0;
    background: radial-gradient(50.17% 63.64% at 49.83% 49.09%, #F70000 0%, #E50000 52.04%, #A70000 100%);
    box-shadow: 2px 2px 5px #870B18;
    font-weight: 500;
    font-size: 21px;
    line-height: 1;
    text-align: center;
    color: #fff;
    border-radius: 33px;
    z-index: 1;
    transition: all .2s linear;
  }
}